#team ul {
  width: 100vw;
  padding: 20px;
  display: flex;
  gap: 4vw;

  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
#team li {
  list-style-type: none;
  padding: 20px;

  display: flex;
  flex-direction: column;
}

#team1 {
  width: 100vw;
}

#team1 figure {
  height: 100%;
  width: 100%;
  grid-column: 1/4;
  margin: 0;
}

#team1 img {
  width: 100%;
  filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.1));
}

#team1 p {
  grid-column: 4/7;
}

#team_description{
  padding: 2rem;
}
